body{
  background: #EDEDED;
}

.page-body{
  width: 1176px;
  margin: 0 auto;
}

/*============RESPONSIVENESS==============*/

/*TABLET DISPLAY*/
@media (max-width: 825px){
  .page-body{
    width: 456px;
  }
}

/*PHONE DISPLAY*/
@media (max-width: 425px){
  .page-body{
    width: 358px;
  }
}
